.login-area .login-box .formpart-login {
  display: none;
}
.login-area form div {
  display: inherit;
}

#searchArea .search-option {
  display: block;
}

#searchFormButton .search-btn-label {
  display: inline;
}

@media (min-width: 480px) {
  #searchFormButton .glyphicon {
    display: none;
  }
}
@media (max-width: 480px) {
  #searchFormButton .search-btn-label {
    display: none;
  }
}

#map {
  width: 100%;
  height: 500px;
  border: 1px solid #ccc;
  cursor: default;
}
@media (max-width: 767px) {
  #map {
    height: 300px;
  }
}
#mapArea {
  margin-top: 15px;
}
#mapFrame { height: 300px; width: 600px; margin:0px; padding:0px; border:0px }


/* search result */

#searchResultArea {
  border-top: 2px solid #bd4e17;
  padding-top: 15px;
  margin-top: 10px;
}

#searchResultArea table.results-table {
  word-break: break-word;
}

#searchResultArea table.results-table th {
  border-bottom: 2px solid #5D6B30;
  font-size: 1.1em;
  text-align: left;
}
#searchResultArea table.results-table th.results-table-col-creator {
  width: 30%
}

#searchResultArea table.results-table tr.table-row {
  border-bottom: 1px dotted #5D6B30;
}
#searchResultArea table.results-table td, #searchResultArea table.results-table th {
  padding: 5px 0;
}
#searchResultArea table.results-table td.results-table-col-button {
  text-align: center;
}
#searchResultArea table.results-table td.results-table-col-mid, #searchResultArea table.results-table th.results-table-col-mid {
  padding-left: 5px;
  padding-right: 10px;
}
#searchResultArea table.results-table td {
  vertical-align: top;
}
#searchResultArea table.results-table td a.title {
  font-weight: bold;
}
#searchResultArea table.results-table .table-row .creator .creator-organisation {
  font-style:italic;
}

#searchResultArea .more-info {
  margin: 5px 0 15px 0;
}
#searchResultArea .more-info>dt {
  float: left;
}
#searchResultArea .more-info>dd {
  margin-left: 7em;
  margin-bottom: 0.3em;
}
#searchResultArea .more-info dt.identifier {
  line-height: 2em;
}
#searchResultArea .more-info .creator {
  display:none;
  font-weight: bold;
  font-size: smaller;
  color: #333;
}
#searchResultArea .more-info .creator.creator-organisation {
  font-style:italic;
}

@media (max-width: 770px) {
  #searchResultArea table.results-table {
    border-top:2px solid #5D6B30;
  }
  #searchResultArea table.results-table tr.table-head, #searchResultArea table.results-table td.creator {
    display:none;
  }
  #searchResultArea .more-info .creator {
    display:block;
  }
}

#searchResultArea .more-info .more-info-extra {
  margin-top: 5px;
}


/* metadata page */

#metadataTools {
}
#documentArea .nav-tabs {
  height: 100%;
  margin: 1em 0;
}
#documentArea .nav-tabs li a{
  position: static;
}
/*
#documentArea .document-root > dl.field > dt, #documentArea .document-root > div > dl.field > dt {
*/
.metadata-root dl.field>dt {
  border-bottom: solid #aec074 2px;
}

.metadata-root dl.field dl.field {
  width: 100%;
  border-bottom: 1px solid #ccc;
  overflow: hidden;
  margin: 0;
}
.metadata-root dl.field dl.field>dt {
  background-color: #E0E0E0;
  font-weight: inherit;
  padding: 0.1em 0.5em 0.2em 0.5em;
  border: 0 !important;
  vertical-align: top;
}
.metadata-root dl.field dl.field>dd {
  padding: 0.1em 0.5em 0.2em 0.5em;
  overflow: hidden;
}
.metadata-root dl.field dl.field>dd a {
  word-break: break-all;
}

@media (min-width: 480px) {
  .metadata-root dl.field dl.field {
    display: table;
  }
  .metadata-root dl.field dl.field>dt {
    display: table-cell;
    width: 10em;
    text-align: right;
  }
  .metadata-root dl.field dl.field>dd {
    display: table-cell;
  }
}

@media (max-width: 1199px) {
  .metadata-root dl.field dl.field dl.field dl.field dl.field {
    display: block;
  }
  .metadata-root dl.field dl.field dl.field dl.field dl.field>dt {
    display: block;
    width: 100%;
    text-align: left;
  }
  .metadata-root dl.field dl.field dl.field dl.field dl.field>dd {
    display: block;
  }
}

@media (max-width: 989px) {
  .metadata-root dl.field dl.field dl.field dl.field {
    display: block;
  }
  .metadata-root dl.field dl.field dl.field dl.field>dt {
    display: block;
    width: 100%;
    text-align: left;
  }
  .metadata-root dl.field dl.field dl.field dl.field>dd {
    display: block;
  }
}

@media (max-width: 639px) {
  .metadata-root dl.field dl.field dl.field {
    display: block;
  }
  .metadata-root dl.field dl.field dl.field>dt {
    display: block;
    width: 100%;
    text-align: left;
  }
  .metadata-root dl.field dl.field dl.field>dd {
    display: block;
  }
}


.metadata-root .field-group {
  margin: 5px 0 5px 0;
  border: solid #CCCCCC;
  border-width: 5px 1px 0 3px;
}
.metadata-root .field-group-heading {
  font-weight: 700;
  background-color: #CCCCCC;
  margin-top: -5px;
  padding: 0.5em; 
}
.metadata-root .field-group-collapsible .field-group-toggle {
  cursor: pointer; 
  cursor: hand;
}
.metadata-root .field-group-collapsible .field-group-toggle:hover {
  color: #bd4e17;
}
.metadata-root .field-group-collapsible-icon {
  margin-right: 5px;
}
.metadata-root .field-group-collapsible .field-group-body {
}


.metadata-root dl.field.identifier>dd {
  font-size: 130%;
}

.metadata-root dl.field>dd ul, ul.keyword {
  list-style: none;
  margin: 0;
  padding: 0;
}
.metadata-root dl.field.keyword>dd ul, ul.keyword {
  display: inline;
}
.metadata-root dl.field.keyword>dd ul li, ul.keyword li {
  display: inline;
  border-radius: 0.25em;
  padding: 0.2em 0.6em 0.2em 0.6em;
  font-size: 75%;
  font-weight: 700;
  color: #fff;
  text-align: center;
  /*white-space: nowrap;*/
  vertical-align: baseline;
  line-height: 1;
  background-color: #888;
}

.geographicCoverage-map {
  height: 300px;
}

img.licence-logo {
  height: 2.5em;
  float: right;
  margin: 0 0 1em 1em;
}
#downloadModalLicence {
  height: 20em;
  overflow-y: scroll;
}

/* Access section custom table */
.metadata-root dl.field.access table {
  min-width: 10em;
  margin-bottom: 10px;
  word-break: break-all;
  word-wrap: break-word;
}
.metadata-root dl.field.access table th {
  min-width: 7em;
}

.metadata-root .field.taxonomicClassification dd ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.metadata-root .field.taxonomicClassification dd ul li{
  border-bottom: 1px solid #CCCCCC;
  line-height: 1.7em;
}

.metadata-root .entity-metadata-link {
  margin: 0 1em;
}

.metadata-root .info-modal {
  display: inline-block;
}

.metadata-root .info-modal .info-modal-toggle {
  margin: 0.5em;
}

.metadata-root div.section-title {
  font-weight: 700;
}

.metadata-root .party .party-name dd {
  font-weight: 700;
}

.metadata-root .party .field.address div.address-group{
  margin: 0.5em 1em 0.5em 0;
  padding: 0.5em;
  float: left;
  border-radius: 0.3em;
  background-color: #eee;
}
.metadata-root .party .field.electronicMailAddress a {
  background-color: #faf0f0;
  border-radius: 0.3em;
  font-size: 85%;
  line-height: 2;
  padding: 0.2em 0.6em;
}

.metadata-root .download-link-local {
  display: none;
}
.metadata-root .datasetEntity .field-group-heading .entity-data-actions {
  font-size: 0.9em;
}
.metadata-root .datasetEntity .entity-data-size {
  font-weight: 100;
}

@media (min-width: 480px) {
  .metadata-root .metadata-tools-container {
    float: right;
  }
}

/* Common utilities */
dl.field-label, dl.field-label>dt, dl.field-label>dd {
  display: inline;
}
dl.field-label {
  border-radius: 0.25em;
  padding: 0.2em 0.6em 0.2em 0.6em;
  font-size: 85%;
  font-weight: 700;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  line-height: 2;
}
dl.field-label>dt {
  padding: 0.2em 0.6em 0.2em 0.6em;
  margin: 0 0.3em 0 -0.6em;
  border-radius: 0.25em 0 0 0.25em;
  font-variant: small-caps;
  text-transform: lowercase;
}
dl.field-label-default {
  background-color: #999;
}
dl.field-label-default>dt {
  background-color: #888;
  color: #ddd;
}
dl.field-label-identifier-primary {
  background-color: #444;
}
dl.field-label-identifier-primary>dt {
  background-color: #222;
  color: #ddd;
}
dl.field-label-identifier-alternate {
  background-color: #888;
}
dl.field-label-identifier-alternate>dt {
  background-color: #777;
  color: #ddd;
}

dl.identifier-label, dl.identifier-label>dt, dl.identifier-label>dd {
  display: inline;
}
dl.identifier-label {
  border-radius: .25em;
  padding: 0.2em;
  margin-right: 1em;
  line-height: 2em;  
  border: 0 !important;
}
dl.identifier-label-primary, dl.identifier-label-primary dt, dl.identifier-label-primary dd {
  background-color: #D3F0C5;
  border: 0 !important;
}
dl.identifier-label-alternate, dl.identifier-label-alternate dt, dl.identifier-label-alternate dd {
  background-color: #D5EEFF;
  border: 0 !important;
}

.collapsible {
  overflow: hidden;
  position: relative;
  padding-right: 1em;
}
.collapsible.collapsible-collapsed {
  padding-right: 2em;
}
.collapsible .collapsible-expand-button, .collapsible .collapsible-collapse-button, .collapsible .collapsible-indicator {
  position: absolute;
  bottom:0;
  right:0;
  z-index: 1;
}
.collapsible .collapsible-indicator {
  padding-right: 1em;
  font-weight: bold;
}

.flag-access-private {
  font-size: 1.2em;
}

.flag-qc {
  display: inline-block;
  width: 32px;
  height: 26px;
  vertical-align: middle;
  background-repeat: no-repeat;
}
.flag-qc-yes {
  background-image: url('images/icon-qc-yes.gif');
}
.flag-qc-no {
  background-image: url('images/icon-qc-no.gif');
}
